mat-sidenav-container {
  height: calc(208vh - 115vh);
}

mat-sidenav {
  width: 250px;
  background-color: white;
}

h2 {
  margin-left: 30px;
  font-style: bold;
  color: white;
}

button {
  background-color: #003cb3;
  border: none;
  color: white;
}

a {
  color: black;
  font-size: 18px;
}