<br>
<div *ngIf="contacts">
  <mat-list role="list">
    <mat-list-item role="listitem">
      <img class="circle responsive-img" src="{{contact?.avatar}}" alt="">

      <h2 style="font-weight: bold; margin-left: 10px;">
        {{ contact?.first_name }} {{ contact?.last_name }}
      </h2>
    </mat-list-item>
  </mat-list>
</div>
<br> <br><br>
<!-- <pre>{{adresa()["controls"] | json }}</pre> -->
<ng-container *ngIf="contacts && adresa ">
  <form class="example-form" (ngSubmit)="onSubmit()" [formGroup]="addresForm">
    <div formArrayName="adresa" *ngFor="let adres of adresa.controls; let i=index">
      <!-- <pre>{{adres["controls"] | json }}</pre> -->
      <div [formGroupName]="i">
        <p>Address #{{i+1}}</p>
        <br>

        <mat-form-field class="example-form-field" style="display: none;">
          <mat-label>id</mat-label>
          <input matInput type="text" formControlName="id" class="form-control" required="">
        </mat-form-field>
        <br>

        <mat-form-field class="example-form-field" style="display: none;">
          <mat-label>contactid</mat-label>
          <input matInput type="text" formControlName="contactId" class="form-control" required="">
        </mat-form-field>
        <br>
        <mat-form-field class="example-form-field">
          <mat-label>Street1</mat-label>
          <button class="close" (click)="removeAdres(i)" style="margin-left: 200px;" mat-button>X</button>
          <input matInput type="text" formControlName="street1" class="form-control" required="">
        </mat-form-field>
        <br>
        <mat-form-field class="example-form-field">
          <mat-label>Street2</mat-label>
          <input matInput type="text" formControlName="street2" class="form-control" required="">
        </mat-form-field>
        <br>
        <mat-form-field class="example-form-field">
          <mat-label>Town</mat-label>
          <input matInput type="text" formControlName="town" class="form-control" required="">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Country</mat-label>
          <mat-select name="country" formControlName="country" class="form-control" required="">
            <mat-option *ngFor="let country of countries" [value]="country.iso2">
              {{country.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
      </div>
    </div>
  </form>
</ng-container>
<div class="example-button-row">
  <button mat-flat-button (click)="addAdress()" style="color:black; background-color: #D3D3D3;">
    <mat-icon>add</mat-icon> Add Address
  </button>
  <button mat-flat-button (click)="saveUpdate()" style="color:gray;" routerLink="/contact/">
    <mat-icon>save</mat-icon>Save
  </button>
  <br>
</div>