.example-container {
    margin-left: 10px;
}

img {
    margin-top: 10px;
    border-radius: 50px;
    width: 100px;
    margin-left: 10px;
}

h1 {
    font-size: 30px;
    margin-top: -71px;
    margin-left: 120px;
    font-weight: bold;
}

p {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

mat-form-field {
    margin-left: 20px;
    margin-top: 2px;
}

h4 {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 12px;
    color: gray;
}